<!-- tag::template[] -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8" />
        <title>Learning Spring Boot: Spring-a-Gram</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <!-- tag::security[] -->
        <div>
            <!--<span sec:authentication="name" /> has-->
            <!--<span sec:authentication="authorities" />-->
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <hr />
        <!-- end::security[] -->

        <h1>Learning Spring Boot - 2nd Edition</h1>

        <div id="images"></div>

        <div id="chatBox" style="display: none">
            Greetings!
            <br/>
            <textarea id="chatDisplay"
                      rows="10" cols="80"
                      disabled="true" />
            <br/>
            <input id="chatInput" type="text"
                   style="width: 500px" value="" />
            <br/>
            <button id="chatButton">Send</button>
            <br/>
        </div>
    <!-- end::template[] -->

        <!-- tag::images-javascript[] -->
        <script th:inline="javascript">
            (function() {
            	console.log('Fetching /imagesService!');
//                var xhr = new XMLHttpRequest();
//                xhr.open('GET', '/imagesService', true);
//                xhr.onload = function(e) {
//                    if (xhr.readyState === 4) {
//                        if (xhr.status === 200) {
//                        	console.log(xhr.responseText);
//                        }
//                    }
//                }
//                xhr.send(null);
            })();
        </script>
        <!-- end::images-javascript[] -->

        <!-- tag::websocket-javascript[] -->
        <!-- end::websocket-javascript[] -->

    </body>
</html>