<!-- tag::images[] -->
<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">

    <h3 th:text="${page.number + 1} + ' of ' + ${page.totalPages}" />
    <h4 th:text="${page.size} + ' item(s) per page'" />

    <table>
        <!-- end::images[] -->

        <thead>
        <tr>
            <th>Id</th><th>Name</th><th>Image</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="image : ${page.content}">
            <td th:text="${image.id}" />
            <td th:text="${image.name}" />
            <td><a th:href="@{'/images/' + ${image.name} + '/raw'}"><img th:src="@{'/images/' + ${image.name} + '/raw'}" class="thumbnail" /></a></td>
            <td>
                <button th:id="'/images/' + ${image.name}" class="delete">Delete</button>
            </td>
            <!-- tag::comments[] -->
            <td>
                <ul th:id="'comments-' + ${image.id}">
                    <li th:each="comment : ${image.comments}" th:text="${comment.comment}"></li>
                </ul>
            </td>
            <td>
                <input th:id="'comment-' + ${image.id}" type="text" value="" />
                <button th:id="${image.id}" class="comment">Submit</button>
            </td>
            <!-- end::comments[] -->
        </tr>
        </tbody>
    </table>

    <ul>
        <li th:if="${prev}"><a th:href="@{/(size=${prev.pageSize},page=${prev.pageNumber})}">Previous</a></li>
        <li th:if="${next}"><a th:href="@{/(size=${next.pageSize},page=${next.pageNumber})}">Next</a></li>
    </ul>

    <p><input type="file" name="file" id="file" /></p>
    <p><button id="upload">Upload</button></p>

</div>